/* Note: Title is hard coded to 50px to accomodate 2 lines of text, followed
by a picture that should be a 270px by 270px square (so ensure the uploaded 
image is a square). Next comes a 90px tall description box for 4 lines of text, 
followed by a price and a "Details" button.

TODO: Remove the hardcoding of the heights for title and description. FYI, the 
flex box for spacing the 3 products evenly seems to force the three panels to be 
the same height. */

.card {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 300px;
}

.product-title {
    display: table;
    height: 50px;
    width: 200px;
    margin: 0 auto;
}

.product-title h4 {
    display: table-cell; 
    vertical-align: middle;
}

.product-img {
    width: 270px;
    height: 270px;
}

.product-text {
    padding: 5px 0px;
    text-align: left;
    height: 90px;
}

.product-price {
    padding: 5px 0px;
    font-weight: bold;
}