# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Code owners will be automatically requested for review when someone opens a pull request that modifies code
* @leofuturer
* @Kenny477