.file-div-drownup {
    position: absolute;
    border:1px solid #cccccc;
    background-color: #fff;
    width:170px;
    z-index: 9999;
}

.file-list-styled {
    list-style-type: none;
    padding: 5px 10px;
    margin: 0 auto;
}

.file-list-styled li {
    padding: 5px 0;
    margin: 0;
}

.file-list-styled li:hover{
    color: #337ab7
}

.edit-status-form input{
    margin: 6px 0 0;
    display: block;
}

/*Same as the file-div-drownup*/
.customer-div-drownup {
    position: absolute;
    border:1px solid #cccccc;
    background-color: #fff;
    width:170px;
    z-index: 9999;
}

/*Same as the file-list-styled*/
.customer-list-styled {
    list-style-type: none;
    padding: 5px 10px;
    margin: 0 auto;
}