.feature-coming{
    text-align: center;  
    padding-bottom: 10px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
    font-size:30px;
    font-weight: bold;
}
