.li-active{
    background-color: #428bca;
    color: #fff;
}
.foundry-content{
    width: 1200px;
    margin:0 auto;
    margin-top:60px;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
.foundry-content h1,.foundry-content h3{
    text-align:center;
}
.vu-content{
    height: 130px;
}
.vu-content .visibility-div{
    height: 120px;
    float: left;
    width:50%;
    text-align: center;
}

.vu-content .nuits-div{
    height: 120px;
    float: left;
    width:50%;
    text-align: center;
}
.v-ul li{
    width:140px;
    height:40px;
    line-height: 40px;
    border:1px solid #eee;
    margin:0 10px;
    cursor: pointer;
}

.u-ul li{
    width:100px;
    height: 40px;
    line-height: 40px;
    border:1px solid #eee;
    margin:0 10px;
    cursor: pointer;
}

.span-txt{
    display: inline-block;
    padding-left:20px;
}

.clear{
    clear: both;
}

/*Bootstrap Modal Complement & customization*/
.fade.show {
    opacity: 1;
}
/*Without this, the modal will be gone because it has also been assigned 
the "fade" which defines the opacity as 0 automatically, so it makes the element disappear*/

.modal-backdrop.fade.show {
    opacity: 0.5
}

.modal-body {
    margin-left: 10px;
}
/*Without this, the blur background will not work because we just set 
the opacity of .fade.show as 1, which is also applied to the backdrop ele*/

.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
/*Set a customized size to the .modal-dialog box*/

.modal.show .modal-dialog {
    transform: translate(0, 25%);
}
/*Adjust the position of the dialog box*/

.file-upload-area {
    text-align: center;
    border-style: dashed;
    border-color: black;
    height: 200px;
}

.file-upload-insns{
    text-align: center;
    line-height: 120px;
    font-size: 18px
}

.input-btn{
    display: block;
    margin: 10px auto;
    width:200px;
    height:50px;
    color:#fff;
    border:none;
    background-color: #e97730;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}

.progressContainer{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  
 .uploadProgressBar {
    width: 95%;
 }
 