@tailwind base;
@tailwind components;
@tailwind utilities;

.order-container{
    width: 1200px;
    margin:0 auto;
    margin-top:30px;
}

.operation-icon i{
    padding-right:20px;
    cursor: pointer;
    font-size:26px;
    color:#5acde2;
}

.order-container .left-pic{
    float: left;
    width: 600px;
}
.order-container .left-pic .left-nav1{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    width:100%;
    height: 450px;
    margin:10px 0 30px 0;
}
.order-container .left-pic .left-nav1 .div-img{
    width: 400px;
    height: 300px;
    margin:0 auto;
}
.order-container .left-pic .left-nav1 .div-img img{
    max-width: 100%;
    height: auto;
    margin-top:25px;
}

.order-container .right-txt{
    float: right;
    width:500px;
    height: 450px;
    border:1px solid #ccc;
}

.div-quantity{
    font-size: 18px;
    font-weight: bold;
    margin-top:80px;
}
.div-h2{
    margin-top: 50px;
}
.input-quantity{
    width:80px;
    text-indent: 5px;
}
.desc-p{
    margin-top:30px;
}
.desc-btn{
    margin-top:20px;
}

.desc-bottom{
    clear: both;
    margin-bottom:50px;
}
td i{
    cursor: pointer;
}


/*Updated CSS rules*/
.icon-center {
    text-align: center;
}

.edit-order-status-form input {
    display: default;
}

.order-status {
    margin-right: 5px
}

/*These are for the orderDetails component*/
.order-detail-frame {
    width: 800px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.order-detail-title-container {
    display: inline-block;
    width: 600px;
    border-bottom: 1px solid #428bca;
    padding-top: 20px;
    padding-bottom: 10px;
}

.order-detail-title-container h2 {
    font-weight: bold;
}

.order-detail-grid-container {
    margin: 5px auto;
    width: 800px;
    gap: 0px;
}

.order-detail-grid-item {
    font-size: 15px;
}

.order-item-title {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.order-number div, .sample-amount div {
    display: inline;
    vertical-align: center;
    line-height: 60px;
}

.customized-option .order-item-content, .shipping-info .order-item-content {
    text-align: left;
    margin-left: 20px;
    line-height: 180%;
}

.order-item-card {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
}

.order-taxes-and-fees-price {
    font-size: 16px;
    text-align: right;
    margin-right: 50px;
}

.order-total-price {
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    margin-right: 50px;
}

.order-item-total{
    margin-top: 10px;
    margin-bottom: 10px;
}

.order-thank-you {
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

#order-addresses {
    overflow: hidden;
    width: 730px;
    margin: 0 auto;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.message-container {
    padding: 5% 5%;
}

.send {
    position: relative;
    display: block;
    margin: 0 auto;
}

#message-input {
    flex-grow: 1;   
}

.order-chat-title-container {
    text-align: center;
}
/* CSS talk bubble */
.chat {
    --rad: 20px;
    --rad-sm: 3px;
    font: 16px/1.5 sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border: #42a5f5;
    border-radius: 4px;
    border-style: inset 
}

.msg {
    position: relative;
    max-width: 75%;
    padding: 7px 15px;
    margin-bottom: 2px;
}

.msg.sent {
    border-radius: var(--rad) var(--rad-sm) var(--rad-sm) var(--rad);
    background: #42a5f5;
    color: #fff;
    /* moves it to the right */
    margin-left: auto;
}

.msg.rcvd {
    border-radius: var(--rad-sm) var(--rad) var(--rad) var(--rad-sm);
    background: #f1f1f1;
    color: #555;
    /* moves it to the left */
    margin-right: auto;
}

/* Improve radius for messages group */
.msg.sent:first-child,
.msg.rcvd+.msg.sent {
    border-top-right-radius: var(--rad);
}

.msg.rcvd:first-child,
.msg.sent+.msg.rcvd {
    border-top-left-radius: var(--rad);
}

.msg.sent::before {
    right: 15px;
}

.msg.rcvd::before {
    left: 15px;
}

.input-box{
    border: 2px solid;
    border-radius: 4px;
}

.chat-button{
    display:block;
    padding:0.3em 1.2em;
    margin:0 auto;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    position: relative;
}

.chat-button:hover{
    background-color:#4095c6;
}
@media all and (max-width:30em){
    .chat-button{
        display:block;
        margin:0.2em auto;
    }
}