<div>
    <%= text %>
</div><br>
<div>
    <%= verifyHref %>
</div><br>
<div>
    Sincerely,  
</div><br>
<div>
    The Edrop Team
</div><br>
<div>
    If you have any trouble, please feel free to email edropwebsite@gmail.com to contact us.
</div>