<div>
    <%= text %>
</div><br>
<div>
    <%= verifyHref %>
</div><br>
<div>
    Sincerely,  
</div><br>
<div>
    The Edrop Team
</div><br>
<div>
    If you have any trouble, contact us at abc@def.com
</div>