<div>
    <%= text %>
</div><br>
<div>
    <%= verifyHref %>
</div><br>
<div>
    Sincerely,  
</div><br>
<div>
    eDrops Website
</div><br>
<div>
    If you have any trouble, please feel free to email edropswebsite@gmail.com to contact us.
</div>