td .fa {
    color: #337ab7;
}

td .fa:hover {
    color: #23527c;
}

.input-content-register{
    width: 700px;
    margin: auto;
    position: relative;
    margin-top: 20px;
}
.register-login-content{
    width: 1000px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top:30px;
    display: flex;
    flex-direction: column;
}

.messages {
    width: 200px;
    margin-top: -3px;
}

.reminder {
    padding-top: -20px;
    padding-bottom: 20px;
}