.badge {
    padding: 0px;
    margin-left: -5px;
    margin-top: -15px;
  }


.badge::after {
    content: attr(value);
    background: #d60000;
    border-radius: 11px;
    box-shadow: 1px 1px 1px black;
    padding: 2px 5px;
    color: #fff;
    font-size: 1.1rem;
    height: 16px;
}