body{
    font-family: 'Open Sans', "Arial", sans-serif;
    word-wrap: break-word;
    min-width: 1200px;
    height: 100%;
}
.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.content{
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper{
    min-height: 100%;
    height: 100%;
    margin: 0;
}

.header-div {
    height: 80px;
    background-color: #005587;
    width: 100%;
}

.header-brand{
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    /*change from 20 to 0 to fit in all components - jianhua 9/28*/
    font-size:28px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: -0.05em;
    padding: 0;
    line-height: 80px;
}
.li-username{
    position: relative;
}

.header-brand a{
    color:#FFFFFF;
    text-decoration: none;
}

.header-brand a:hover{
    color:#FFC72C;
    text-decoration: none;
}

.header-brand a:focus{
    color:#FFFFFF;
    text-decoration: none;
}

.header-brand a:active{
    color:#FFC72C;
    text-decoration: none;
}



.ul-nav{
    padding-left: 20px;
    list-style: none;
    float: left;
    margin-bottom: 0px;
}
ul.ul-nav li{
    float:left;
    padding:0 15px; /* space between each link */
    line-height: 80px;
}

ul.ul-nav li a {
    font-size:18px;
    color:#FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

ul.ul-nav li a:hover {
    color: #FFC72C;
}

ul.ul-nav li a:focus{
    color:#FFFFFF;
}

ul.ul-nav li  a:active{
    color:#FFC72C;
}

ul.ul-nav li.li-spacer {
    width: 300px;
}

.div-drownup{
    position: absolute;
    border:1px solid #cccccc;
    background-color: #fff;
    top:75px;
    left:-30px;
    width:200px;
    z-index: 9999;
}

.div-drownup ul li{
    list-style: none;
    line-height:30px;
    padding:0;
}

.div-drownup ul li a{
    color:#333333;
    font-weight: normal;
    font-size: 14px;
}

.navbar .navbar-header .navbar-brand{
    height:80px;
    line-height: 50px;
    font-size: 28px;
    letter-spacing:-2px;
    color:#fff;
    font-weight: bold;
}
.navbar .nav li a{
    height:80px;
    line-height: 50px;
    font-size: 16px;
    color:#fff;
    font-weight: bold;
}


.fenge-line{
    margin:0 -20px;
}
.fa-search{
    font-size: 16px;
}
.copyright{
    height: 200px;
    width: 100%;
    background-color: #242847;
    color: #fff;
}

.manage{
   width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

.left-nav{
    width: 200px;
    min-height: 600px;
    float: left;
}
.right-content{
    margin-left:200px;
    min-height:600px;
    margin-top:-600px;
}
.right-route-content{
    width:90%;
    margin:0 auto;
}

.footer-top-level {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.top-title{
    width: 300px;
    text-align: center;
    float: left;
}
.edrop-txt{
    font-size: 26px;
    font-weight: bold;
}
.other-txt{
    padding-top:6px;
    font-size:18px;
    font-weight: bold;
}
.top-title p{
    margin-top:25px;
}
.top-title .i-p i{
    font-size: 18px;
    padding:0 10px;
}
.top-title .about-p{
    width:260px;
    text-align: left;
    margin:0 auto;
}
.top-title .pic-div{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top-title .pic-div p {
    margin: 10px 0;
}
.top-title .pic-div .left-inline{
    float: left;
}
.top-title .pic-div .right-inline{
    float: right;
}
.footer-bottom{
    clear: both;
    min-height: 50px;
}

.website-logo {
    max-height: 50px;
    margin-right: 10px;
    margin-top: -15px;
    /* If you want the logo to replace the "e" */
    /* max-height: 30px;
    margin-right: -2px;
    margin-top: -13px; */
}

.website-footer-logo {
    max-height: 50px;
    margin-right: 10px;
    margin-top: 25px;
    /* If you want the logo to replace the "e" */
    /* max-height: 30px;
    margin-right: -2px;
    margin-top: -13px; */
}